@import "skeleton";

$roboto-condensed: "Roboto Condensed", sans-serif;

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
  border: 20px solid $light-grey;
}

a {
//  text-decoration: none;
}

.header {
  color: $font-color;
  clear: both;
  margin: 40px 0;
  .logo {
    font-family: $roboto-condensed;
    float: left;
    line-height: 55px;
    padding: 0 25px;
    font-size: 50px;
    text-transform: uppercase;
  }
}

.navbar {
  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: left;
      margin: 0;
      padding: 5px 15px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $font-color;
        margin-top: 14px;
        display: block;
      }
    }
  }
}

.hero {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid $light-grey;
  padding: 15px 20px;
//  box-shadow: 1px 1px 1px #cccccc;
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: $roboto-condensed;
  }
}
